body{
    background-color: blue;
}


/* question 1 */
.question1 {
    justify-content: center;
    border-radius: 1000px;
    background-color: aqua;
   
    flex-wrap: wrap;
    
}

.question1 h1  {
    text-align: center;
    
    flex-shrink: 2px;
}

.question1 p{
    text-align: center;
    border-radius:  20px;
    
    flex-shrink: 2px;
}
/* .flex-container {
    display: flex;
    flex-wrap: wrap;
    font-size: 30px;
    text-align: center;
  }
  
  .flex-item-left {
    background-color: #f1f1f1;
    padding: 10px;
    flex: 50%;
  }
  
  .flex-item-right {
    background-color: dodgerblue;
    padding: 10px;
    flex: 50%;
  } */

/* question 2 */

.question2{
    justify-content: center;
    border-radius: 1000px;
    background-color: aqua;
    flex: auto;
}

.question2 h1 {
    position:relative; left:500px; top:2px;
    flex:auto
}

.question2 p{
    border-radius:  20px;
    position:relative; left:500px; top:-10px;
    flex:auto
}

/* question 3 */
.question3{
    justify-content: center;
    border-radius: 1000px;
    background-color: aqua;
    flex: auto;
}

.question3  h1 {
    position:relative; left:500px; top:2px;
    flex:auto
}

.question3 p{
    border-radius:  20px;
    position:relative; left:500px; top:-10px;
    flex:auto
}

/* question 4 */
.question4{
    justify-content: center;
    border-radius: 1000px;
    background-color: aqua;
    flex: auto;
}

.question4  h1 {
    position:relative; left:500px; top:2px;
    flex:auto
}

.question4 p{
    border-radius:  20px;
    position:relative; left:500px; top:-10px;
    flex:auto
}

/* // question 5 */
.question5{
    justify-content: center;
    border-radius: 1000px;
    background-color: aqua;
    flex: auto;
}

.question5  h1 {
    position:relative; left:500px; top:2px;
    flex:auto
}

.question5 p{
    border-radius:  20px;
    position:relative; left:500px; top:-10px;
    flex:auto
}